<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASSIGNMENT3</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="row bg-dark text-white p-2 justify-content-center align-items-center" style="
    margin-top: 2rem!important;
   margin-left: 10rem!important;
   margin-right: 10rem!important; 
   ">
 
    <div class="container mt-5">
        <h3 class="mb-4">Product Search</h3>
        <form>
            <div class="form-group row">
                <label for="keyword" class="col-sm-2 col-form-label">Keyword</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="keyword" placeholder="Enter Product Name(Eg. iPhone 8)">
                </div>
            </div>
    
            <div class="form-group row">
                <label for="category" class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-2">
                    <select class="form-control" id="category">
                        <option>All Categories</option>
                        <option>Art</option>
                        <option>Baby</option>
                        <option>Books</option>
                        <option>Clothing, Shoes & Accessories</option>
                        <option>Computers/Tablets & Networking</option>
                        <option>Music</option>
                        <option>Health & Beauty</option>
                        <option>Vidoe Games & Consoles</option>
                 
                        <!-- Add other options as needed -->
                    </select>
                </div>
            </div>
    
            <div class="form-group row">
                <label class="col-sm-2">Condition</label>
                <div class="col-sm-5">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="new" value="new">
                        <label class="form-check-label" for="new">New</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="used" value="used">
                        <label class="form-check-label" for="used">Used</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="unspecified" value="unspecified">
                        <label class="form-check-label" for="unspecified">Unspecified</label>
                    </div>
                </div>
            </div>
    
            <div class="form-group row">
                <label class="col-sm-2">Shipping Options</label>
                <div class="col-sm-5">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="shippingOption" id="localPickup" value="localPickup">
                        <label class="form-check-label" for="localPickup">Local Pickup</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="shippingOption" id="freeshipping" value="freeshipping">
                        <label class="form-check-label" for="freeshipping">Free Shipping</label>
                    </div>
                </div>
            </div>
    
            <div class="form-group row">
                <label for="distance" class="col-sm-2 col-form-label">Distance (Miles)</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="distance" placeholder="10">
                </div>
            </div>
    
            <div class="form-group row">
                <label class="col-sm-2">From</label>
                <div class="col-sm-5">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="fromOption" id="currentLocation" value="currentLocation">
                        <label class="form-check-label" for="currentLocation">Current Location</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="fromOption" id="other" value="other">
                        <label class="form-check-label" for="other">Other. Please specify zip code:</label>
                        <input type="text" class="form-control mt-2" >
                    </div>
                </div>
            </div>
    
            <div class="form-group row">
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="reset" class="btn btn-secondary">Clear</button>
                </div>
            </div>
        </form>
    </div>
    </div>

</body>
</html>