@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
h1{
 
    color: rgba(5,56,192,255);
    font-weight: bold;
}

li{
    float: left;
    list-style: none;
    padding:10px;
    
}

ul{
    margin-left: 5px;
      
}
#home
{

    color:blue;
}
#D{
    height: 500px;
    width: 1155px;
    margin-left: 54px;
    margin-right: 54px;
    padding-top: 30px;
    
    
}

button{
    margin-left: 3px;
    padding:10px;
    height: 40px;
    width:85px;
    background-color: white;
    border: none;
    margin-top: 15px;
    
}

#headingimage h1
{
    font-size: 40px;
}
#head2
{
    color: rgba(5,56,192,255);
    /* text-align: center; */
    margin-left: 420px;
    /* padding: 50px 0 31px 410px; */
    font-size: 25px;
    white-space: nowrap;
    margin-top: 50px;
    font-family: 'Abril Fatface', cursive;
}
/* figure {

    display: inline-block;
    box-sizing: border-box;

} */
#one::after
{
      content: "*";
      color: red;
}
.images1 img{
    
    height: 400px;
    width: 500px;
}
.images2 img{
    
    height: 400px;
    width: 500px;
}
.d{
    /* margin-left: 200px; */
    /* box-sizing: border-box; */
    padding-left: 250px;
    padding-top: 35px;
    font-size: 18px;
    color: rgba(5,56,192,255);
    font-family: 'Abril Fatface', cursive;
}
.b{
    /* margin-left: 200px; */
    /* box-sizing: border-box; */
    padding-left: 200px;
    padding-top: 35px;
    font-size: 18px;
    color: rgba(5,56,192,255);
    font-family: 'Abril Fatface', cursive;
}
.k{
    /* margin-left: 200px; */
    /* box-sizing: border-box; */
    padding-left: 230px;
    padding-top: 35px;
    font-size: 18px;
    color: rgba(5,56,192,255);
    font-family: 'Abril Fatface', cursive;
}
.g{
    /* margin-left: 200px; */
    /* box-sizing: border-box; */
    padding-left: 200px;
    padding-top: 35px;
    font-size: 18px;
    color: rgba(5,56,192,255);
    font-family: 'Abril Fatface', cursive;
}

#decor,#kit
{
    margin-left: 19px;
    font-family: myFont;
    src: url(wiblz-serif.rar);

}
.image
{
    /* width:100%;
    height: 600px; */
    background-image: url("/Cutlery.png");
    /* height: 100%;
    width: 100%; */
    height: 600px;
    width: 1050px;
    margin-left: 54px;
    margin-right: 54px;
    padding-top: 30px;
    margin-top: 80px;
    background-size: 1100px 600px; 
    /* background-position: center center;  */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* object-fit:cover; */
    /* opacity: 0.8; */
    
}
figure{
margin-right: 1px;
}
.images1{
    display: flex;
    flex-direction: row;
   
}
.images2{
    display: flex;
    flex-direction: row;
}
#headingimage
{
    
    padding-left:50px;
    padding-top: 10px;
    
    font-family: 'Abril Fatface', cursive;
 
}
#bon{
    margin-left: 55px;
    font-family: 'Abril Fatface', cursive;
}
#f
{
    margin-bottom: 10px;
}
#c
{
    margin-top: 1px;
}

