:root {
    --event-search-card-width: 650px;
    --event-search-card-width-hr: 600px;
    --event-search-table-width: 1200px;
    --event-search-fail-width: 1200px;
    --event-result-card-width: 980px;
    --show-venue-detail-body-width: 1000px;
}

body, html {
    margin: 0;
    background-image: url('/frontend/img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    font-family: sans-serif;
}

input[type=text], input[type=number], select {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    margin-top: .35rem;
    color: white;
    border: 1px solid #ccc;
    border-radius: 0.65rem;
    box-sizing: border-box;
    font-size: medium;
    background-color: rgba(256, 256, 256, 0.225);
}

input[type=checkbox] {
    vertical-align: top;
}

input:-webkit-autofill, input:-webkit-autofill:focus {
    transition: background-color 700000s 0s, color 700000s 0s;
}

.event-search-box {
    margin-top: 2rem;
}

.event-search-card, .event-result-card {
    margin: auto;
    background-color: rgba(256, 256, 256, 0.15);
    border-radius: 1.5rem;
    backdrop-filter: blur(7px);
}

.event-search-card {
    width: var(--event-search-card-width);
}

.event-search-card h1 {
    font-family: "Times New Roman";
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 1.75rem;
    font-size: 32px;
    font-weight: lighter;
}

.event-search-card hr {
    width: var(--event-search-card-width-hr);
}

.event-search-card label {
    font-family: "Gill Sans", sans-serif;
    color: #8ec9e6;
}

.event-search-card span {
    font-size: 15px;
    color: red;
    vertical-align: top;
}

.form-text {
    margin: auto;
    padding: 0.75rem 1.5rem 0rem 1.5rem; /* TRBL */
    max-width: var(--event-search-card-width);
}

.col-2-text {
    width: 100%;
    display: grid;
    grid-template-columns: .315fr .5fr; 
    justify-content: space-between;
}

.location {
    display: none;
}

.submit, .clear {
    height: 42px;
    border-radius: 0.5rem;
    border: none;
    color: white;
}

.submit {
    width: 100px;
    background-color: #fe6c02;
    box-shadow: 0 5px 0 #fb4b00;
}

.submit:hover {
    background-color: #fe995e;
}

.clear {
    width: 90px;
    background-color: #4f6fab;
    box-shadow: 0 5px 0 #384d78;
}

.clear:hover {
    background-color: #6988bc;
}

.event-search-result, .event-detail-result {
    display: none;
}

.event-search-table, .event-search-fail {
    display: none;
    background-color: white;
}

.event-search-table {
    margin: auto auto 3rem auto;
    margin-top: 3rem;
    text-align: center;
    width: var(--event-search-table-width);
    border-spacing: 0;
    border-collapse: collapse;
}

.event-search-table th, .event-search-table td {
    border: 1px solid black;
}

.event-search-table th {
    box-shadow: 0 5px 5px #00000025;
}

.event-search-table .th-event {
    width: 550px;
}

.event-search-table .th-hover:hover, .event-search-table tr td p:hover, .show-venue-detail-body-full-span p:hover, .v-div:hover {
    cursor: pointer;
}

.event-search-table tr td p:hover, .show-venue-detail-body-full-span p:hover, .more-detail-a:hover, .event-result-card-body-artist-team a:hover, .event-result-card-body-point-by-ticket a:hover {
    color: #7265c1;
}

.event-search-table p {
    margin: auto;
    width: fit-content;
}

.event-search-table th div {
    margin: 0.75rem 1rem 0.75rem 1rem;
}

.event-search-table td div {
    margin: 0.75rem 1rem 0.75rem 1rem;
}

.event-search-fail {
    width: var(--event-search-fail-width);
    margin: 3rem auto 3rem auto;
    padding: 0.75rem;
    font-weight: bolder;
    font-size: larger;
    color: red;
}

.event-detail-result {
    color: white;
}

.event-result-card {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    padding: 1.5rem 2rem 2rem 2rem;
    width: var(--event-result-card-width);
}

.event-result-card h1 {
    margin: auto auto 3rem auto;
    text-align: center;
}

.event-result-card-body {
    display: grid;
    grid-template-columns: .35fr .65fr; 
}

.event-result-card-body h2 {
    margin: 0 0 0.25rem 0;
    color: #94e9d5;
    font-weight: 400;
}

.event-result-card-body p, .event-search-fail p{
    margin: 0;
}

.event-result-card-body-point { 
    margin-top: 1rem;
}

.event-result-card-body-artist-team .event-result-card-body-artist-team-a, .event-result-card-body-point-by-ticket a, .show-venue-detail-body-col-right a, .show-venue-detail-body-full-span p, .event-result-card-body-artist-team .event-result-card-body-artist-team-a-no-hover:hover {
    color: #3597a7;
}

.event-result-card-body-artist-team a, .event-result-card-body-point-by-ticket a, .show-venue-detail-body-col-right a{
    text-decoration: none;
}

.event-detail-seatmap-img, .show-venue-detail, .event-search-fail {
    text-align: center;
}

.event-detail-seatmap-img img{
    max-width: 550px;
    max-height: 550px;
    margin: 0 0 0 0;
}

.venue-raw-heading {
    font-weight: 400;
    font-size: 25px;
}

.venue-raw-heading {
    margin-bottom: 0;
}

.or-symbol-div {
    margin: auto;
    width: fit-content;
}

.v-div {
    width: 30px;
    height: 30px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(135deg);
    translate: 0 -7px;
}

.v-div:hover {
    border-top: 2px solid white;
    border-right: 2px solid white;
}

.show-venue-detail {
    margin-bottom: 2rem;
}

.show-venue-detail-body {
    width: var(--show-venue-detail-body-width);
    margin: auto;
    color: black;
    background-color: white;
    padding: 1.25rem;
    margin: 2.5rem auto 2.5rem auto;
    border-radius: 1.5rem;
}

.show-venue-detail-inner-body {
    border: 1px solid black;
    border-radius: 1.25rem;
}

.show-venue-detail-inner-body h1 {
    font-weight: lighter;
}

.show-venue-detail-inner-body-header {
    border-bottom: 1px solid #000;
    padding: 0 1rem 0 1rem;
    width: fit-content;
    margin: auto;
}

.show-venue-detail-body-col, .show-venue-detail-body-col-left-col {
    display: grid;
    grid-template-columns: .5fr .5fr; 
}

.show-venue-detail-body-col {
    font-size: 17px;
    margin-bottom: 2rem;
}

.show-venue-detail-body-col-left {
    border-right: 1px solid black;
}

.show-venue-detail-body-col-left-col {
    grid-template-columns: .25fr .75fr; 
}

.show-venue-detail-body-col-left-col-left {
    margin-left: 7rem;
    text-align: right;
    vertical-align: top;
}

.show-venue-detail-body-col-left-col-left p {
    margin: 0;
    font-weight: bold;
}

.show-venue-detail-body-full-span {
    margin: auto;
}

.show-venue-detail-body-full-span p:hover {
    color: #5e598e;
}

.show-venue-detail-body-col-left-col-right {
    text-align: left;
    vertical-align: top;
}

.show-venue-detail-body-col-left-col-right p {
    margin: 0 auto 0 1rem;
}
